---
import { Image } from "astro:assets";

interface Props {
  image: string;
  title: string;
  description?: string;
  enllac:string;
}

const {
  image = "",
  title = "Títol per defecte",
  description = "Descripció per defecte",
  enllac= "#"
} = Astro.props as Props;
---

<a href={enllac} class="card">
  <Image
    src={image}
    alt={title}
    width={350}
    height={200}
    class="img"
  />

  <h2>{title}</h2>

  {/* Mostra només <p> si existeix */}
  {description && <p>{description}</p>}
</a>

<style>
    .card{
        display: block; 
        width: 400px;
        padding: 15px;
        text-align: left;
        margin: 10px;
        background: linear-gradient(0deg,rgba(0, 178, 255, 1) 0%, rgba(0, 255, 179, 1) 100%);
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
        text-decoration: none;
        color: inherit;
        transition: background 1s ease, transform 0.5s ease;
        overflow: hidden; 
    }

    .card:hover {
        transform: translateY(-5px);
        filter: brightness(0.7); 
    }

    .img{
        display: block;
        margin: 0 auto; 
        border: 5px solid rgba(0, 0, 0, 0.5);;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    }
    h2{
        color: black;
        font-size: 30px;
    }

</style>

